<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;url=http://csilviavr.github.io/browser-upgrade/">
    <style>body{display:none;}</style>
    <![endif]-->
    <title>{{ site.title }}{% if page.title != 'index' %} / {{ page.title }}{% endif %}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,600italic,700italic">
    <link rel="stylesheet" href="/vendor/fontello/css/fontello.css?rev={{ site.github.build_revision }}">
    <link rel="stylesheet" href="/vendor/fontello/css/animation.css?rev={{ site.github.build_revision }}">
    <link rel="stylesheet" href="/assets/css/main.css?rev={{ site.github.build_revision }}">
</head>
<body>

    <div class="container">

        <div class="navigation">
            <ul>
                <li><a href="/"><i class="icon-info-circled"></i><span>ABOUT</span></a></li>
                <li><a href="/projects.html"><i class="icon-wrench"></i><span>PUBLICATIONS</span></a></li>
                <li><a href="/software.html"><i class="icon-wrench"></i><span>SOFTWARE</span></a></li>
                <li><a href="/"><i class="icon-wrench"></i><span>TALKS</span></a></li>
                <li><a href="/events.html"><i class="icon-wrench"></i><span>EVENTS</span></a></li>
                <li><a href="/"><i class="icon-wrench"></i><span>CV</span></a></li>
                <li><a href="/"><i class="icon-wrench"></i><span>BLOG</span></a></li>
            </ul>
        </div>

        <div class="content">
            {{ content }}
        </div>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/vendor/autolinker/Autolinker.min.js?rev={{ site.github.build_revision }}"></script>
    <script src="/assets/js/main.js?rev={{ site.github.build_revision }}"></script>

</body>
</html>
